
<style>
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: yellow;
}

/* mouse over link */
a:hover {
  color: lime ;
}

/* selected link */
a:active {
  color: blue;
}
</style>

<form method="POST" action='/posts/newmovie'>
    <label>Name of your movie</label><br><br>
    <input type="text" name="name" size="100" class="searchBar"><br><br>
    <input type="submit" value="post" class="button"><br><br>
</form>

<p style ="text-align:center"><a href="/posts">Goto HomePage</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/posts/<%=@producer.username%>">My Profile</a></p>
