<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <style>
        /* unvisited link */
        a:link {
          color: yellow;
        }

        /* visited link */
        a:visited {
          color: yellow;
        }

        /* mouse over link */
        a:hover {
          color: lime;
        }

        /* selected link */
        a:active {
          color: blue;
        }
        </style>
    <div class="content">

      <%# <p  style="font-size:30px" > %>
      <%# <h2>Welcome Producers!!!</h2> %>
     <h1>
      <p style ="font-size:40px"  text-align="center">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;<a href="/signup">Signup</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/login">Login</a></p></h1>

      <%# <a  href="/signup"> Sign up</a></p>
      <p  style="font-size:30px" ><a  href="/login">Login</a></p> %>

        <%# </div id="titel">
        <img  src="/images/Hollyweed.jpg" alt="titel" />
        <h5>WELCOME</h5> %>

  </div>
</div>
